!!! 5
%html
  %head
    %meta{charset: "utf-8"}

    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %title My Blog

    = stylesheet_link_tag "application", "//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags

  %body
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a{href:"#"} My Blog

        %li.toggle-topbar.menu-icon
          %a{href:"#"}
            %span Menu

      %section.top-bar-section
        %ul.right
          %li
            = link_to '<i class="icon-edit"></i> New post'.html_safe, new_post_path
          %li.divider
          %li
            %a{href:'#'}
              %i.icon-user
              Log in

    .row= yield

    = javascript_include_tag "application"